nav {
	display: block;
	background-color: $nav-background-color;
	padding-left: $content-padding;
}

.nav-main {
	list-style: none;
	li {
		display: inline-block;
	}

	.logo {
		padding-left: 0;
		font-weight: bold;
	}
	a {
		height: $nav-height;
		line-height: $nav-height;
		display: block;
		padding: 0 20px;
	}
}
