nav {
	display: block;
	background-color: $nav-background-color;
	padding-left: $content-padding;
}

.nav-main {
	list-style: none;
	li {
		display: inline-block;
	}

	span {
		display: block;
		cursor: default;
		padding-right: 20px;
		color: $link-color;
		font-weight: bold;
	}
	a {
		height: $nav-height;
		line-height: $nav-height;
		display: block;
		padding: 0 20px;
	}
}
