* {
	font-family: Raleway, Palatino, serif;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	background-color: $body-background-color;
	color: $body-color;
}

body, html,
h1, h2, h3, h4, h5, h6,
ul, li, ol,
p,
fieldset, legend, input, button {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	&:link, &:visited {
		color: $link-color;
	}
	&:hover, &:active {
		color: $link-color-active;
	}
}

.section {
	padding: $content-padding;
}

