// Colors
$body-background-color: #EEE;
$nav-background-color: #E9E9E9;
$nav-link-color: #333;
$nav-link-active-background-color: #DDD;

// Layout and sizing
$nav-width: 350px;
$nav-header-height: 120px;
$content-padding: 20px;
