// Colors
$body-background-color: #EEE;
$body-color: #535353;
$nav-background-color: #E9E9E9;
$nav-link-color: #333;
$nav-link-active-background-color: #DDD;


$card-button-color: #EEE;
$join-bg: #57bbff;
$join-bg-active: #55a8e9;
$full-bg: #ff4c34;
$full-bg-active: #d1432e;

// Layout and sizing
$nav-width: 350px;
$nav-header-height: 120px;
$content-padding: 20px;
