// Colors
$body-background-color: #111504;
$body-background-color-active: #36420c;
$body-color: #b6b6b6;
$nav-background-color: #110815;
$link-color: #7c9b1f;
$link-color-active: #aed82a;

// Layout and sizing
$content-padding: 45px;
$nav-height: 55px;
