#landing-banner {
	padding: 70px 0 170px 0;
	background: transparent url(https://s3.amazonaws.com/ks_web/derank.us/iso-overpass.gif) fixed center center no-repeat;
	background-size: cover;

	> div {
		display: inline-block;
		padding: 10px $content-padding;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

#no-lobbies {
	padding: 0 $content-padding;
}

#new-lobby-input {
	padding: 4px 0;
	background-color: $body-background-color-alt;
	color: $body-color;
	width: 100%;
	border: none;
	border-bottom: 1px solid $body-background-color-active;
	margin-bottom: 4px;
}

.lobby-spacer {
	height: 50px;
	clear: both;
}

// Cards
$card-padding: 20px;
.card-list {
	padding: 0 ($content-padding - $card-padding/4);

	> div {
		display: flex;
		flex-wrap: nowrap;

		div {
			@extend .card-button;
			padding: $card-padding/2;
			margin: $card-padding/4 $card-padding/4;
			white-space: nowrap;
			flex-shrink: 0;
		}
	}

	.button {
		color: $link-color;
		cursor: pointer;

		&:hover {
			color: $link-color-active;
		}
	}

	.age {
		width: 50px;
		text-align: center;
	}
	.title {
		line-height: normal;
		flex-grow: 1;
		flex-shrink: 1;
		white-space: normal;
	}

	.join::before {
		content: 'Join';
	}
	.full::before {
		content: 'Full';
	}
	.hide::before {
		content: 'Hide';
	}
}

.lobby-card-buttons {
	padding: 0 ($content-padding - $card-padding/4);

	.button {
		@extend .card-button;
		display: inline-block;
		cursor: pointer;
		color: $link-color;
		padding: $card-padding / 2 $card-padding;
		margin: $card-padding/4 $card-padding/4;
		float: right;

		&:hover {
			color: $link-color-active;
		}
	}
}

.lobby-controllers {
	padding: 0 $content-padding;
	> div {
		@extend .card-button;
		padding: $card-padding;
	}

	.lobby-controller-link {
		cursor: pointer;
		color: $link-color;
		display: inline-block;
		margin-right: $card-padding;
		background-color: transparent;
		border: none;

		&:hover {
			color: $link-color-active;
		}
	}
}
